.background{
    position: relative;
    padding-top: 150px;
    margin-top: -85px;
    width: 100%;
    &.whiteBack{
        background: $main-color;
    }
    @include break(mobile){
        height: 25em;
        clip-path: polygon(50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
    }
}
.content{
    margin: 0 20px;
}
.blueTitle{
    position: relative;
    font-family: $main-font;
    color: $content-color;
    font-size: 25px;
    &.aboutMe{
        @include break(mobile){
            margin-top: 50px;
        }
    }
}
.smallContent{
    position: relative;
    font-family: $content-font;
    color: $content-color;
    @include break(mobile){
        font-size: 15px;
    }
}