.App{
    position: relative;
    background: black;
    z-index: 1;
    min-height: 2615px;
}
.blueTitle{
    position: relative;
    font-family: $main-font;
    color: $content-color;
    font-size: 25px;
    @include break(laptop){
        font-size: 30px;
    }
}
.whiteTitle{
    // margin: 0 20px;
    position: relative;
    font-family: $main-font;
    color: $main-color;
    font-size: 25px;
    @include break(laptop){
        font-size: 30px;
    }
}
.blueBack{
    background: $content-color;
}
.whiteBack{
    background: $main-color;
}
.smallTitle{
    font-family: $content-font;
    color: $main-color;
    text-align: center;
    @include break(mobile){
        font-size: 15px;
        margin: 5px;
    }
}