.mobile-nav{
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 95%;
    height: 35px;
    // margin-top: 10px;
    // margin-left: 10px;
    // margin-right: 10px;
    padding: 10px 10px 0;
    background-color: $content-color;
    z-index: 100;
}
.mobile-site{
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    // z-index: 400;
}
.logo{
    position: fixed;
    width: 50px;
    height: 50px;
}
.burger-menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 1px;
    height: 100vh;
    align-items: center;
    z-index: 300;
    &.slideIn{
        // right: 10px;
        // position: absolute;
        // top: 0;
        // right: 0;
        width: 150px;
        background-color: $main-color;
        transition: all 0.5s;
    }
    &.slideOut{
        transition: all 0.5s;
    }
}
.burger{
    position: fixed;
    top: 10px;
    right: 10px;
    // z-index: 300;
    span{
        display: block;
        height: 5px;
        width: 30px;
        background-color: $main-color;
        border-radius: 100px;
        // &:first-child{
        //     transform-origin: 0 50%;
        // }
        &:nth-child(-n+3){
            margin-bottom: 5px;
        }
    }
    &.active{
        span{
            background-color: $content-color;
            transition: 0.5s;
            &:first-child{
                transform: rotate(-45deg) translate(-8px , 9px);
            }
            &:nth-child(2){
                background-color: transparent;
            }
            &:last-child{
                transform: rotate(45deg) translate(-5px, -6px);
            }
        }
    }
    &.inactive{
        span{
            transition: 0.5s;
        }
    }
}
.nav-links{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 35px;
    &.noDisplay{
        display: none;
    }
    .link{
        font-family: $content-font;
        color: $content-color;
        font-weight: 700;
        width: 70px;
        &:nth-child(-n+5){
            margin-bottom: 25px;
        }
    }
}
