.project{
    height: 40em;
    clip-path: polygon(50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    // margin-top: -70px;
    // z-index: 4;
    // @include break(mobile){
    //     clip-path: polygon(50% 12%, 100% 0, 100% 88%, 50% 100%, 0 88%, 0 0);
    // }
}
.one{
    @include break(laptop){
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.smallName{
    font-size: 20px;
    @include break(laptop){
        font-size: 25px;
    }
}
.topSpace{
    margin-top: 20px;
}
.noSpace{
    @include break(mobile){
        margin-top: -50px;
    }
}
.projectLink{
    text-decoration: none;
    font-family: $content-font;
    color: $content-color;
    cursor: pointer;
}
.blueText{
    color: $content-color;
}
// .imgSection{
//     @include break(mobile){
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         width: 100%;
//         height: auto;
//     }
//     .images{
//         @include break(mobile){
//             width: 300px;
//             height: auto;
//         }
//     }
// }