@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700|Roboto');

$main-font: 'Noto Sans', sans-serif;
$content-font: 'Roboto', sans-serif;
$main-color:rgb(237, 253, 255);
$content-color:rgb(66, 144, 147);
