@import url("https://fonts.googleapis.com/css?family=Noto+Sans:700|Roboto");
.App {
  position: relative;
  background: black;
  z-index: 1;
  min-height: 2615px; }

.blueTitle {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  color: #429093;
  font-size: 25px; }
  @media (min-width: 50em) {
    .blueTitle {
      font-size: 30px; } }

.whiteTitle {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  color: #edfdff;
  font-size: 25px; }
  @media (min-width: 50em) {
    .whiteTitle {
      font-size: 30px; } }

.blueBack {
  background: #429093; }

.whiteBack {
  background: #edfdff; }

.smallTitle {
  font-family: "Roboto", sans-serif;
  color: #edfdff;
  text-align: center; }
  @media (max-width: 37.5em) {
    .smallTitle {
      font-size: 15px;
      margin: 5px; } }

.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  padding: 10px 10px 0;
  background-color: #429093;
  z-index: 100; }
  @media (min-width: 50em) {
    .nav {
      height: 60px; } }

.mobile-site {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh; }

.logo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 30px;
  height: auto;
  border-radius: 20%; }
  @media (min-width: 50em) {
    .logo {
      width: 50px; } }

.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 1px;
  height: 100vh;
  align-items: center;
  z-index: 300; }
  .burger-menu.slideIn {
    width: 150px;
    background-color: #edfdff;
    transition: all 0.5s;
    box-shadow: -5px 0px 150px -30px #484848; }
  .burger-menu.slideOut {
    transition: all 0.5s; }

.burger {
  position: fixed;
  top: 10px;
  right: 10px; }
  @media (min-width: 50em) {
    .burger {
      display: none; } }
  .burger span {
    display: block;
    height: 5px;
    width: 30px;
    background-color: #edfdff;
    border-radius: 100px; }
    .burger span:nth-child(-n+3) {
      margin-bottom: 5px; }
  .burger.active span {
    background-color: #429093;
    transition: 0.5s; }
    .burger.active span:first-child {
      transform: rotate(-45deg) translate(-8px, 9px); }
    .burger.active span:nth-child(2) {
      background-color: transparent; }
    .burger.active span:last-child {
      transform: rotate(45deg) translate(-5px, -6px); }
  .burger.inactive span {
    transition: 0.5s; }

.nav-links {
  display: flex;
  flex-direction: column;
  margin: 80px 40px 0; }
  @media (min-width: 50em) {
    .nav-links {
      flex-direction: row;
      justify-content: space-around;
      position: fixed;
      right: 0;
      margin-top: 25px; } }
  .nav-links .link {
    font-family: "Roboto", sans-serif;
    color: #429093;
    font-weight: 700;
    width: 70px;
    cursor: pointer; }
    .nav-links .link:nth-child(-n+5) {
      margin-bottom: 25px; }
      @media (min-width: 50em) {
        .nav-links .link:nth-child(-n+5) {
          color: #edfdff;
          margin-bottom: 0px;
          margin-right: 30px;
          width: fit-content; } }

.landBackground {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 150px;
  width: 100%;
  background: #429093;
  height: 25em;
  clip-path: polygon(50% 0, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0); }
  @media (min-width: 50em) {
    .landBackground {
      flex-direction: row;
      justify-content: center; } }

.contact {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 20px; }
  @media (min-width: 37.5em) {
    .contact {
      margin: 0 70px; } }
  @media (min-width: 50em) {
    .contact {
      margin: unset;
      height: 250px;
      justify-content: center;
      margin-left: 30px; } }

.name {
  font-family: "Noto Sans", sans-serif;
  color: #edfdff;
  font-size: 50px; }

.digits {
  display: flex;
  flex-direction: column; }
  @media (min-width: 65em) {
    .digits {
      flex-direction: row;
      margin-top: 5px; } }

.contactInfo {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #edfdff;
  font-size: 20px;
  cursor: pointer; }
  .contactInfo.number {
    width: 140px;
    margin: 5px 0; }
    @media (min-width: 65em) {
      .contactInfo.number {
        margin: unset; } }
  .contactInfo.divider {
    display: none; }
    @media (min-width: 65em) {
      .contactInfo.divider {
        display: block;
        margin: 0 10px; } }
  .contactInfo.email {
    width: 270px; }

.headshot {
  position: relative;
  margin: 0 20px;
  border-radius: 50%;
  width: 150px;
  height: auto; }
  @media (min-width: 37.5em) {
    .headshot {
      margin: 0 70px; } }
  @media (min-width: 50em) {
    .headshot {
      margin: unset;
      width: 250px;
      height: 250px; } }

.background {
  position: relative;
  padding-top: 100px;
  margin-top: -75px;
  width: 100%;
  height: 25em;
  clip-path: polygon(50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0); }

.content {
  margin: 0 20px; }
  @media (min-width: 37.5em) {
    .content {
      margin: 0 70px; } }
  @media (min-width: 50em) {
    .content {
      margin: 0 120px;
      display: flex;
      flex-direction: column;
      align-items: center; } }

.aboutMe {
  margin-top: 50px; }
  @media (min-width: 37.5em) {
    .aboutMe {
      margin-top: 100px; } }

.smallContent {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #429093;
  font-size: 15px;
  line-height: 20px;
  margin-top: 10px; }
  @media (min-width: 50em) {
    .smallContent {
      font-size: 20px;
      line-height: 25px; } }
  @media (min-width: 50em) {
    .smallContent.paragraph {
      width: 80%; } }

.skill {
  margin: 0 20px 10px; }
  @media (min-width: 37.5em) {
    .skill {
      margin: 0 70px 10px; } }
  @media (min-width: 50em) {
    .skill {
      margin: 30px 0 0;
      display: flex;
      justify-content: center; } }

.iconSection {
  display: grid;
  grid: repeat(3, 1fr)/repeat(3, 1fr);
  grid-gap: 10px; }
  @media (min-width: 50em) {
    .iconSection {
      display: flex;
      justify-content: space-evenly;
      width: 90%;
      margin: 50px auto; } }

.oneSkill {
  display: flex;
  flex-direction: column;
  align-items: center; }

.skillIcon {
  width: 50px;
  height: 50px; }

.project {
  height: 40em;
  clip-path: polygon(50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0); }

@media (min-width: 50em) {
  .one {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; } }

.smallName {
  font-size: 20px; }
  @media (min-width: 50em) {
    .smallName {
      font-size: 25px; } }

.topSpace {
  margin-top: 20px; }

@media (max-width: 37.5em) {
  .noSpace {
    margin-top: -50px; } }

.projectLink {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #429093;
  cursor: pointer; }

.blueText {
  color: #429093; }

.experience {
  height: 30em;
  clip-path: polygon(50% 13%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0); }
  @media (max-width: 37.5em) {
    .experience {
      clip-path: polygon(50% 13%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0); } }

.whiteText {
  color: #edfdff; }

.footer {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  background: #429093;
  z-index: 100; }
