@import url("https://fonts.googleapis.com/css?family=Noto+Sans:700|Roboto");
.App {
  min-height: 3000px;
  background-image: linear-gradient(#61d5da, #93d3d6); }

.name {
  font-family: "Noto Sans", sans-serif;
  color: #ffffff;
  padding-top: 100px;
  width: 50px;
  font-size: 40px; }

.contactInfo {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 15px; }

.App-intro {
  font-size: large; }

.mobile-nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 95%;
  height: 50px;
  padding: 10px 10px 0;
  background-color: #61d5da; }

.logo {
  width: 50px;
  height: 50px; }

.burger-menu {
  position: absolute;
  top: 0;
  right: 0; }
  .burger-menu.slideIn {
    background-color: #ffffff;
    height: 100vh;
    padding: 0 20px; }

.burger {
  position: absolute;
  top: 10px;
  right: 10px; }
  .burger span {
    display: block;
    height: 5px;
    width: 30px;
    background-color: #ffffff;
    border-radius: 100px; }
    .burger span:nth-child(-n+3) {
      margin-bottom: 5px; }
  .burger.active span {
    background-color: #61d5da; }

.nav-links {
  margin-top: 80px; }
  .nav-links .link {
    font-family: "Roboto", sans-serif;
    color: #61d5da;
    font-weight: bold; }
    .nav-links .link:nth-child(-n+5) {
      margin-bottom: 25px; }
