@import url("https://fonts.googleapis.com/css?family=Noto+Sans:700|Roboto");
.App {
  min-height: 3000px;
  background-image: linear-gradient(#61d5da, #93d3d6); }

.name {
  font-family: "Noto Sans", sans-serif;
  color: #ffffff;
  padding-top: 100px;
  margin-left: 10px;
  width: 50px;
  font-size: 40px; }

.contactInfo {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin-left: 10px;
  font-size: 15px; }

.App-intro {
  font-size: large; }

.mobile-nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 95%;
  height: 50px;
  padding: 10px 10px 0;
  background-color: #61d5da; }

.mobile-site {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50; }

.logo {
  position: fixed;
  width: 50px;
  height: 50px; }

.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 1px;
  height: 100vh;
  align-items: center;
  z-index: 100; }
  .burger-menu.slideIn {
    width: 150px;
    background-color: #ffffff;
    transition: all 0.5s; }
  .burger-menu.slideOut {
    transition: all 0.5s; }

.burger {
  position: fixed;
  top: 10px;
  right: 10px; }
  .burger span {
    display: block;
    height: 5px;
    width: 30px;
    background-color: #ffffff;
    border-radius: 100px; }
    .burger span:nth-child(-n+3) {
      margin-bottom: 5px; }
  .burger.active span {
    background-color: #61d5da;
    transition: 0.5s; }
    .burger.active span:first-child {
      transform: rotate(-45deg) translate(-8px, 9px); }
    .burger.active span:nth-child(2) {
      background-color: transparent; }
    .burger.active span:last-child {
      transform: rotate(45deg) translate(-5px, -6px); }
  .burger.inactive span {
    transition: 0.5s; }

.nav-links {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 35px; }
  .nav-links.noDisplay {
    display: none; }
  .nav-links .link {
    font-family: "Roboto", sans-serif;
    color: #61d5da;
    font-weight: 700;
    width: 70px; }
    .nav-links .link:nth-child(-n+5) {
      margin-bottom: 25px; }
